<h2 align="center">Application Details</h2>


<div class="well col-xs-8 col-xs-offset-2">
  <h4 class="center">Application Name</h4>
  <h4 class="center"><strong><%= @app.app_name %> </strong></h4>
  <hr>

<dl class="row">
   <h4 align="center">Network Requirements</h4>
   <dt class="col-xs-4 text-right">Latency(ms):</td>
   <dd class="col-xs-12 text-left"><%= @app.req_latency %> </dd>

   <dt class="col-xs-4 text-right">Jitter(ms):</td>
   <dd class="col-xs-12 text-left"><%= @app.req_jitter %> </dd>
   <dt class="col-xs-4 text-right">Packet Drop(%):</td>
   <dd class="col-xs-12 text-left"><%= @app.req_packet_drop %> </dd>
   <dt class="col-xs-4 text-right">Bandwidth(kbps):</td>
   <dd class="col-xs-12 text-left"><%= @app.req_bw %> </dd>
</dl>

 <hr>
  <div class="col-xs-10 col-xs-offset-2"><%= simple_format(@app.remarks) %></div>

 <hr>
  <div class="article-actions">
  <%= link_to "Edit this app", edit_app_path(@app), class: "btn btn-xs btn-primary" %>
  <%= link_to "Delete this app", app_path(@app), method: :delete,
                                        data: {confirm: "it will be permanently deleted"},
                                        class: "btn btn-xs btn-danger" %>

  <%= link_to "Back to App Listing", apps_path, class: "btn btn-xs btn-success" %>
  </div>
</div>
