
$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
    background-image: asset-url('cloud-gate-chicago-1.jpg');
    background-size: cover;
    hight: 30rem;
    padding-top: 30rem;
    margin-top: -10rem;
}

.jumbotron h1{
    color: #FFCC00;
    text-alight: center;
    font-weight: bold;
    margin-bottom: 15rem;
    margin-top: 1rem;
}

.img-container{
  margin-top: -20rem;
  padding-top: 20rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  background-image: asset_url('above-the-clouds-3.jpg');
  background-size: cover;
}

.btn-xlarge {
    font-size: 1.7em;
    background-color: black;
}

.btn.pill{
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}

.app-actions {
  boarder-top: 1px solid #eaeaea;
  padding-top: 5px;
}

footer {
    margin-top: 10rem;
    padding-top: 1rem;
    border-top: 1rem solid #eaeaea;
    color: #777;
}

footer a:hover {
    color: #222;
}

footer small {
  float: left;
  margin-left: 1rem;
}

footer ul {
  float: right;
  margin-right: 1rem;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px
}
